In [1]:
import pandas as pd
import gzip

In [2]:
with gzip.open('../../data/raw/Redfin/Redfin_April24.tsv000.gz') as f:
    df = pd.read_csv(f, sep='\t')

In [3]:
df

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2012-11-01,2013-01-31,90,zip code,2,18818,f,Zip Code: 44815,NaN,Ohio,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,"Tiffin, OH",45660,2024-05-19 14:23:50
1,2019-07-01,2019-09-30,90,zip code,2,25807,f,Zip Code: 60077,NaN,Illinois,...,0.057895,NaN,NaN,NaN,0.133333,-0.266667,-0.251282,"Chicago, IL",16984,2024-05-19 14:23:50
2,2021-02-01,2021-04-30,90,zip code,2,39390,f,Zip Code: 95050,NaN,California,...,0.095238,NaN,NaN,NaN,0.625000,0.125000,-0.089286,"San Jose, CA",41940,2024-05-19 14:23:50
3,2016-11-01,2017-01-31,90,zip code,2,9777,f,Zip Code: 24482,NaN,Virginia,...,0.166667,NaN,NaN,NaN,0.000000,0.000000,0.000000,"Staunton, VA",44420,2024-05-19 14:23:50
4,2023-03-01,2023-05-31,90,zip code,2,16912,f,Zip Code: 39702,NaN,Mississippi,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,"Columbus, MS",18060,2024-05-19 14:23:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8031325,2014-03-01,2014-05-31,90,zip code,2,36309,f,Zip Code: 85260,NaN,Arizona,...,-0.171429,NaN,NaN,NaN,0.083333,-0.059524,-0.007576,"Phoenix, AZ",38060,2024-05-19 14:23:50
8031326,2022-02-01,2022-04-30,90,zip code,2,8995,f,Zip Code: 22736,NaN,Virginia,...,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, DC",47894,2024-05-19 14:23:50
8031327,2016-12-01,2017-02-28,90,zip code,2,12893,f,Zip Code: 30753,NaN,Georgia,...,0.142857,NaN,NaN,NaN,0.000000,0.000000,NaN,"Summerville, GA",44900,2024-05-19 14:23:50
8031328,2018-09-01,2018-11-30,90,zip code,2,18804,f,Zip Code: 44721,NaN,Ohio,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Canton, OH",15940,2024-05-19 14:23:50
8031329,2013-04-01,2013-06-30,90,zip code,2,5910,f,Zip Code: 15748,NaN,Pennsylvania,...,0.166667,NaN,NaN,NaN,0.000000,0.000000,NaN,"Indiana, PA",26860,2024-05-19 14:23:50

In [4]:
df['last_updated'][0] # this is not the same as monthly updates (ie the most recent period to end)

'2024-05-19 14:23:50'

In [5]:
df['period_end'] = pd.to_datetime(df['period_end'])

In [6]:
df['period_end'].max()

Timestamp('2024-04-30 00:00:00')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8031330 entries, 0 to 8031329
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    object
 1   period_end                      datetime64[ns]
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          object
 8   city                            float64
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      float64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
dtypes: datetime64[ns](1), float64(43), int64(5), object(9)
memory usage: 3.5+ GB

In [8]:
df['city'] = df['city'].astype(str)

In [9]:
df['period_duration'].value_counts()

90    8031330
Name: period_duration, dtype: int64

In [10]:
df['property_type']

0                    All Residential
1                        Condo/Co-op
2          Single Family Residential
3          Single Family Residential
4          Single Family Residential
                     ...
8031325                    Townhouse
8031326              All Residential
8031327    Single Family Residential
8031328      Multi-Family (2-4 Unit)
8031329              All Residential
Name: property_type, Length: 8031330, dtype: object

In [11]:
'''
property type should only be "all residential"

Remove period begin, we only need period end

columns to keep: (add in more?)
'''

[['period_end', 'region', 'property_type', 'median_sale_price', 'median_list_price', 'homes_sold', 'pending_sales', 'new_listings' ,'inventory']]

[['period_end',
  'region',
  'property_type',
  'median_sale_price',
  'median_list_price',
  'homes_sold',
  'pending_sales',
  'new_listings',
  'inventory']]

In [12]:
df = df[df['property_type'] == 'All Residential']

In [13]:
df = df[['period_end', 'region', 'median_sale_price', 'median_list_price', 'homes_sold', 'pending_sales', 'new_listings' ,'inventory']]

In [14]:
df

,period_end,region,median_sale_price,median_list_price,homes_sold,pending_sales,new_listings,inventory
0,2013-01-31,Zip Code: 44815,77250.0,NaN,2.0,NaN,NaN,1.0
6,2021-09-30,Zip Code: 75093,590000.0,599000.0,199.0,50.0,183.0,69.0
7,2022-09-30,Zip Code: 44124,223500.0,214000.0,205.0,45.0,211.0,111.0
9,2017-11-30,Zip Code: 52773,174000.0,285000.0,6.0,NaN,2.0,4.0
10,2012-04-30,Zip Code: 61865,76000.0,NaN,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8031320,2018-05-31,Zip Code: 11231,2017500.0,1999999.0,42.0,2.0,109.0,153.0
8031321,2020-06-30,Zip Code: 16872,155000.0,NaN,1.0,NaN,NaN,2.0
8031324,2019-11-30,Zip Code: 48880,70000.0,82400.0,25.0,6.0,18.0,22.0
8031326,2022-04-30,Zip Code: 22736,402280.0,509999.0,3.0,NaN,1.0,NaN
8031329,2013-06-30,Zip Code: 15748,86000.0,99900.0,6.0,1.0,19.0,32.0

In [15]:
#extract zip code from region
df['region'] = df['region'].str.strip().str[-5:]

In [16]:
df

,period_end,region,median_sale_price,median_list_price,homes_sold,pending_sales,new_listings,inventory
0,2013-01-31,44815,77250.0,NaN,2.0,NaN,NaN,1.0
6,2021-09-30,75093,590000.0,599000.0,199.0,50.0,183.0,69.0
7,2022-09-30,44124,223500.0,214000.0,205.0,45.0,211.0,111.0
9,2017-11-30,52773,174000.0,285000.0,6.0,NaN,2.0,4.0
10,2012-04-30,61865,76000.0,NaN,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8031320,2018-05-31,11231,2017500.0,1999999.0,42.0,2.0,109.0,153.0
8031321,2020-06-30,16872,155000.0,NaN,1.0,NaN,NaN,2.0
8031324,2019-11-30,48880,70000.0,82400.0,25.0,6.0,18.0,22.0
8031326,2022-04-30,22736,402280.0,509999.0,3.0,NaN,1.0,NaN
8031329,2013-06-30,15748,86000.0,99900.0,6.0,1.0,19.0,32.0

In [17]:
df.to_csv('../../data/formatted/Redfin/Redfin_April24_Formatted.csv', index=False)