In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ZHVI_September22_Processed.csv', dtype=str)

In [3]:
df

,Date,ZHVI,ZipCode,SizeRank,State,City,Metro,CountyName,Location
0,2000-01-31,106672.0,77449,0,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,"Katy, TX 77449"
1,2000-02-29,106685.0,77449,0,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,"Katy, TX 77449"
2,2000-03-31,106488.0,77449,0,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,"Katy, TX 77449"
3,2000-04-30,106493.0,77449,0,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,"Katy, TX 77449"
4,2000-05-31,106524.0,77449,0,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,"Katy, TX 77449"
...,...,...,...,...,...,...,...,...,...
7481014,2022-05-31,61496.0,62362,30657,IL,Perry,NaN,Pike County,"Perry, IL 62362"
7481015,2022-06-30,62014.0,62362,30657,IL,Perry,NaN,Pike County,"Perry, IL 62362"
7481016,2022-07-31,62707.0,62362,30657,IL,Perry,NaN,Pike County,"Perry, IL 62362"
7481017,2022-08-31,62794.0,62362,30657,IL,Perry,NaN,Pike County,"Perry, IL 62362"
7481018,2022-09-30,62182.0,62362,30657,IL,Perry,NaN,Pike County,"Perry, IL 62362"

In [4]:
df['ZipCode'].nunique()

27403

In [20]:
entries = df.groupby(['ZipCode', 'Location']).size().keys()

In [23]:
entries[9]

('01013', 'Chicopee, MA 01013')

In [27]:
entry_list = []
for i in entries:
    entry_list.append(i)

In [30]:
entry_df = pd.DataFrame(entry_list, columns=['ZipCode', 'Location'])
entry_df

      ZipCode               Location
0       01001       Agawam, MA 01001
1       01002      Amherst, MA 01002
2       01005        Barre, MA 01005
3       01007  Belchertown, MA 01007
4       01008    Blandford, MA 01008
...       ...                    ...
27398   99712    Fairbanks, AK 99712
27399   99714       Salcha, AK 99714
27400   99801       Juneau, AK 99801
27401   99824      Douglas, AK 99824
27402   99901    Ketchikan, AK 99901

[27403 rows x 2 columns]

In [33]:
entry_df.set_index('ZipCode')

                      Location
ZipCode
01001         Agawam, MA 01001
01002        Amherst, MA 01002
01005          Barre, MA 01005
01007    Belchertown, MA 01007
01008      Blandford, MA 01008
...                        ...
99712      Fairbanks, AK 99712
99714         Salcha, AK 99714
99801         Juneau, AK 99801
99824        Douglas, AK 99824
99901      Ketchikan, AK 99901

[27403 rows x 1 columns]

In [36]:
entry_df.to_json('locations.json', orient='records')