In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ZHVI/ZHVI_December22.csv', dtype=str)

In [13]:
df = df.loc[:,['RegionName', '2022-12-31']]
df

      RegionName 2022-12-31
0          77449   291080.0
1          77494   501644.0
2          79936   200092.0
3          11368   588935.0
4          11385   792677.0
...          ...        ...
27446      38946    61001.0
27447      50160   195116.0
27448      18081   372834.0
27449      51009    75829.0
27450      55366   111148.0

[27451 rows x 2 columns]

In [14]:
num_months_updated = 1
arr = np.empty([3,num_months_updated * df['RegionName'].nunique()], dtype=object)

In [15]:
a = 0
b = num_months_updated

# for every zip, transpose date columns and repeat zip code in 3rd column
for ind, row in df.iterrows():
    
  timeseries = row.iloc[1:].T

  arr[0,a:b] = timeseries.index.values
  arr[1,a:b] = timeseries.values
  arr[2,a:b] = np.repeat(row['RegionName'], len(timeseries.index.values))
  a += len(timeseries)# length of time in dataset
  b += len(timeseries)

In [16]:
update_df = pd.DataFrame(arr.T)
update_df.columns = ['Date', 'ZHVI', 'ZipCode']

In [17]:
update_df

             Date      ZHVI ZipCode
0      2022-12-31  291080.0   77449
1      2022-12-31  501644.0   77494
2      2022-12-31  200092.0   79936
3      2022-12-31  588935.0   11368
4      2022-12-31  792677.0   11385
...           ...       ...     ...
27446  2022-12-31   61001.0   38946
27447  2022-12-31  195116.0   50160
27448  2022-12-31  372834.0   18081
27449  2022-12-31   75829.0   51009
27450  2022-12-31  111148.0   55366

[27451 rows x 3 columns]

In [17]:
# exports in 3rd normal form

In [33]:
update_df['ZHVI'] = update_df['ZHVI'].astype(float)

In [ ]:
update_df['ZHVI'] = update_df['ZHVI'].astype(int)

In [19]:
update_df.to_csv('update_December22.csv', index= False)

In [23]:
df = pd.read_csv('ZHVI/ZHVI_December22.csv', dtype=str)

In [24]:
%pip install uszipcode

Requirement already satisfied: uszipcode in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (1.0.1)
Requirement already satisfied: SQLAlchemy>=1.4.0 in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from uszipcode) (1.4.42)
Requirement already satisfied: sqlalchemy-mate>=1.4.28.3 in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from uszipcode) (1.4.28.3)
Requirement already satisfied: pathlib-mate in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from uszipcode) (1.0.3)
Requirement already satisfied: atomicwrites in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from uszipcode) (1.4.1)
Requirement already satisfied: fuzzywuzzy in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from uszipcode) (0.18.0)
Requirement already satisfied: haversine>=2.5.0 in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from uszipcode) (2.7.0)
Requirement already satisfied: attrs in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from uszipcode) (20.3.0)
Requirement already satisfied: requests in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from uszipcode) (2.28.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from SQLAlchemy>=1.4.0->uszipcode) (1.1.3.post0)
Requirement already satisfied: prettytable in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from sqlalchemy-mate>=1.4.28.3->uszipcode) (3.4.1)
Requirement already satisfied: six in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from pathlib-mate->uszipcode) (1.15.0)
Requirement already satisfied: autopep8 in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from pathlib-mate->uszipcode) (1.7.0)
Requirement already satisfied: toml in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from autopep8->pathlib-mate->uszipcode) (0.10.2)
Requirement already satisfied: pycodestyle>=2.9.1 in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from autopep8->pathlib-mate->uszipcode) (2.9.1)
Requirement already satisfied: wcwidth in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from prettytable->sqlalchemy-mate>=1.4.28.3->uszipcode) (0.2.5)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from requests->uszipcode) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from requests->uszipcode) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from requests->uszipcode) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages (from requests->uszipcode) (3.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\users\user0\appdata\local\programs\python\python38-32\python.exe -m pip install --upgrade pip' command.

In [21]:
from uszipcode import SearchEngine

sr = SearchEngine()

c:\users\user0\appdata\local\programs\python\python38-32\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [24]:
df['RegionName'].nunique()

27451

In [25]:
zips = df['RegionName'].unique()
zips = pd.DataFrame(zips, columns=['Zip'])
zips

         Zip
0      77449
1      77494
2      79936
3      11368
4      11385
...      ...
27446  38946
27447  50160
27448  18081
27449  51009
27450  55366

[27451 rows x 1 columns]

In [26]:
zips['Location'] = zips.apply(lambda x: sr.by_zipcode(x['Zip']).major_city + ', ' + sr.by_zipcode(x['Zip']).state + " " + str(x['Zip']), axis=1)

In [27]:
zips

         Zip               Location
0      77449         Katy, TX 77449
1      77494         Katy, TX 77494
2      79936      El Paso, TX 79936
3      11368       Corona, NY 11368
4      11385    Ridgewood, NY 11385
...      ...                    ...
27446  38946  Morgan City, MS 38946
27447  50160  Martensdale, IA 50160
27448  18081   Springtown, PA 18081
27449  51009      Calumet, IA 51009
27450  55366   New Auburn, MN 55366

[27451 rows x 2 columns]

In [28]:
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,106650.0,...,266118.0,272385.0,278470.0,283496.0,286888.0,288803.0,289444.0,290416.0,291279.0,291080.0
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,222187.0,...,463929.0,477547.0,488872.0,496319.0,498572.0,496718.0,497258.0,499328.0,502245.0,501644.0
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,90190.0,...,179824.0,183180.0,186779.0,190218.0,192451.0,194150.0,195533.0,197183.0,198535.0,200092.0
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,187245.0,...,569557.0,571067.0,573861.0,576088.0,578207.0,579147.0,581921.0,585527.0,588049.0,588935.0
4,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,275472.0,...,756331.0,758927.0,764744.0,770015.0,775169.0,777838.0,780918.0,786751.0,792454.0,792677.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27446,75083,30657,38946,zip,MS,MS,Morgan City,"Greenwood, MS",Leflore County,NaN,...,NaN,NaN,NaN,NaN,NaN,62016.0,62362.0,62592.0,61667.0,61001.0
27447,80190,30657,50160,zip,IA,IA,Martensdale,"Des Moines-West Des Moines, IA",Warren County,NaN,...,180133.0,181119.0,182320.0,184924.0,186800.0,188347.0,190181.0,191761.0,193584.0,195116.0
27448,65355,30657,18081,zip,PA,PA,Hellertown,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Bucks County,NaN,...,362278.0,368662.0,372594.0,372908.0,371899.0,369913.0,369352.0,370645.0,374267.0,372834.0
27449,80581,30657,51009,zip,IA,IA,Calumet,NaN,O Brien County,NaN,...,73029.0,73256.0,73461.0,74450.0,75274.0,75632.0,75307.0,75555.0,75715.0,75829.0
27450,82217,30657,55366,zip,MN,MN,NaN,NaN,Sibley County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109914.0,111148.0

In [29]:
unique_zillow_df = df.drop_duplicates(subset=['RegionName'], keep='first')

In [30]:
unique_zillow_df = unique_zillow_df.loc[:,['RegionName', 'SizeRank', 'State', 'City', 'Metro', 'CountyName']]

In [31]:
unique_zillow_df = zips.merge(unique_zillow_df, how='left', left_on='Zip', right_on='RegionName')

In [32]:
unique_zillow_df[unique_zillow_df['Zip']=='10516']

,Zip,Location,RegionName,SizeRank,State,City,Metro,CountyName
12411,10516,"Cold Spring, NY 10516",10516,12503,NY,Cold Spring,"New York-Newark-Jersey City, NY-NJ-PA",Putnam County

In [33]:
locations = unique_zillow_df[['RegionName', 'SizeRank', 'State', 'City', 'Metro', 'CountyName', 'Location']]

In [36]:
locations.to_csv('locations_third_nf.tsv', sep='\t', index=False)

In [34]:
locations

,RegionName,SizeRank,State,City,Metro,CountyName,Location
0,77449,0,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,"Katy, TX 77449"
1,77494,1,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,"Katy, TX 77494"
2,79936,2,TX,El Paso,"El Paso, TX",El Paso County,"El Paso, TX 79936"
3,11368,3,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,"Corona, NY 11368"
4,11385,4,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,"Ridgewood, NY 11385"
...,...,...,...,...,...,...,...
27446,38946,30657,MS,Morgan City,"Greenwood, MS",Leflore County,"Morgan City, MS 38946"
27447,50160,30657,IA,Martensdale,"Des Moines-West Des Moines, IA",Warren County,"Martensdale, IA 50160"
27448,18081,30657,PA,Hellertown,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Bucks County,"Springtown, PA 18081"
27449,51009,30657,IA,Calumet,NaN,O Brien County,"Calumet, IA 51009"
27450,55366,30657,MN,NaN,NaN,Sibley County,"New Auburn, MN 55366"