In [1]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv('../../../data/processed/Redfin/Redfin_April24_Processed.csv', dtype=str)

In [15]:
df.columns = ['ZipCode', 'Date', 'MedianSalePrice', 'MedianListPrice', 'HomesSold', 'NewListings', 'Inventory']
df['PendingSales'] = 0
df = df[['Date', 'ZipCode', 'MedianSalePrice', 'MedianListPrice', 'HomesSold', 'PendingSales', 'NewListings', 'Inventory']]

In [17]:
df = df[df['Date'] > '2022-12-31']

In [18]:
df

,Date,ZipCode,MedianSalePrice,MedianListPrice,HomesSold,PendingSales,NewListings,Inventory
84,2023-01-31,44815,NaN,NaN,NaN,0,NaN,NaN
85,2023-02-28,44815,NaN,NaN,NaN,0,NaN,NaN
86,2023-03-31,44815,NaN,NaN,NaN,0,NaN,NaN
87,2023-04-30,44815,NaN,NaN,NaN,0,NaN,NaN
88,2023-05-31,44815,NaN,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...
1931395,2023-12-31,17765,79000.0,74950.0,1.0,0,2.0,1.0
1931396,2024-01-31,17765,NaN,NaN,NaN,0,NaN,NaN
1931397,2024-02-29,17765,77500.0,95000.0,2.0,0,3.0,NaN
1931398,2024-03-31,17765,77500.0,172450.0,2.0,0,2.0,NaN
1931399,2024-04-30,17765,120000.0,249900.0,3.0,0,1.0,NaN

In [19]:
df.to_csv('../../../data/site/Redfin_Update_April24_1yr.csv', index= False)